    .hero {
        background-image: url("../img/to-the-moon_astronaut_adam-miller-unsplash_.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .hero-text {
        width: 35vw;
        height: 55vh;      
    }

    .main {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../img/to-the-moon_stars_raphael-nogueira_unsplash.jpg");
        padding: 0 8rem 4rem 8rem;
    }

    .space-ventures {
        margin-top: 1.5rem;
    }

    .space-ventures :first-of-type {
        font-size: 6.5rem;
    }

    .space-ventures :nth-of-type(2) {
        font-size: 8.5rem;
        top: -4.6rem;
        left: 0.3rem;
    }

    .ground-control h3 {
        font-size: 1.8rem;
    }

    .ground-control p,
    .major-tom p {
        margin-bottom: 0.225rem;
        max-width: 95%;
    }

    .floating {
        margin-left: 1.8rem;
    }

    .hidden-quote {
        margin-top: 4.5rem;
        font-size: 2.5rem;
        max-width: 65%;
    }