
    .hero {
        background-image: url("../img/to-the-moon_astronaut_adam-miller-unsplash__tablet.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .hero-text {
        height: 13rem;
    }

    .hero-text h1 {
        font-size: 5.2vmax;
    }

    .hero-text p {
        text-align: right;
        left: 0;
        right: 10px;
    }

    .main {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("../img/to-the-moon_stars_raphael-nogueira_unsplash_tablet.jpg");
        /*linear-gradient*/
        background-size: cover;
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        padding: 0 4rem 0 4rem;
        display: flex;
        gap: 10%;
    }

    .container-1,
    .container-2 {
        width: 45%;
    }

    .space-ventures {
        margin-top: 2rem;
    }

    .space-ventures :first-of-type {
        font-size: 3rem;
        left: -1rem;
    }

    .space-ventures :nth-of-type(2) {
        font-size: 4rem;
        top: -2rem;
        left: -0.8rem;
    }

    .ground-control p,
    .major-tom p {
        margin-bottom: 1rem;
        max-width: 95%;
    }

    .floating {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0 0 0 -2rem;
    }

    .floating:before {
        content: "“";
        top: 1.4rem;
        left: 0.5rem;
    }

    .floating:after {
        content: "”";
        bottom: 0rem;
        left: 5.7rem;
    }

    .hidden-quote {
        display: block;
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 100;
        font-style: italic;
        max-width: 85%;
        background: -webkit-linear-gradient(353deg, rgba(210, 0, 162, 0.3) 0%, rgba(245, 245, 245, 0.3) 44%, rgba(210, 0, 162, 0.3) 100%);
        -webkit-background-clip: text; /*hur fixar jag "message": "Also define the standard property 'background-clip' for compatibility",*/
        -webkit-text-fill-color: transparent;
    }

    footer p {
        margin-top: 0.5rem;
    }