* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    position: relative;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    margin: 0;
}


@import 'base';


@media screen and (min-width: 768px) {
    @import 'tablet';
}

@media screen and (min-width: 1024px) { /*kolla 992 el 1024*/
    @import 'desktop_small';
}

@media screen and (min-width: 1201px) { 
    @import 'desktop_big';
}